#img-preview {
   display: none;
    width: 200px;
    border: 2px dashed rgb(85, 82, 82);  
    margin-bottom: 20px;
  }
  #img-preview img {
    width: 100%;
    height: auto;
    display: block;
  }
  